In [1]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKSI&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Incheon/" + elementsName[e] + "/" + str(y) + ".csv")

In [2]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKSS&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Gimpo/" + elementsName[e] + "/" + str(y) + ".csv")

In [3]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKPC&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Jeju/" + elementsName[e] + "/" + str(y) + ".csv")

In [4]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKJB&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Muan/" + elementsName[e] + "/" + str(y) + ".csv")

In [5]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKPU&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Ulsan/" + elementsName[e] + "/" + str(y) + ".csv")

In [6]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKJY&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Yeosu/" + elementsName[e] + "/" + str(y) + ".csv")

In [7]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKNY&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Yangyang/" + elementsName[e] + "/" + str(y) + ".csv")

In [8]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKPC&year=2017&month="
months = [1,2,3,4,5,6,7,8,9,10,11,12]

df = pd.DataFrame([])
for m in months : 
    df1 = pd.read_html(url1 + str(y) + url2 + str(m))[0]
     df = pd.concat([df, df1])
df.to_csv("C:/R/weather/Jeju/wind direction/2017.csv")

IndentationError: unexpected indent (Temp/ipykernel_4324/813789252.py, line 9)

In [9]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKPC&year=2017&month="
months = [1,2,3,4,5,6,7,8,9,10,11,12]

df = pd.DataFrame([])
for m in months : 
    df1 = pd.read_html(url1 + str(y) + url2 + str(m))[0]
    df = pd.concat([df, df1])
df.to_csv("C:/R/weather/Jeju/wind direction/2017.csv")

In [10]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKPC&year=2017&month="
months = [1,2,3,4,5,6,7,8,9,10,11,12]

df = pd.DataFrame([])
for m in months : 
    df1 = pd.read_html(url1 + str(y) + url2 + str(m))[0]
    df = pd.concat([df, df1])
df

,시간날짜,01,02,03,04,05,06,07,08,09,...,15,16,17,18,19,20,21,22,23,24
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKSI&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Incheon/" + elementsName[e] + "/" + str(y) + ".csv")

In [12]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKSI&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Incheon/" + elementsName[e] + "/" + str(y) + ".csv")

In [13]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKSS&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Gimpo/" + elementsName[e] + "/" + str(y) + ".csv")

In [14]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKPC&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Jeju/" + elementsName[e] + "/" + str(y) + ".csv")

In [15]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKJB&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Muan/" + elementsName[e] + "/" + str(y) + ".csv")

In [16]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKPU&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Ulsan/" + elementsName[e] + "/" + str(y) + ".csv")

In [17]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKJY&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Yeosu/" + elementsName[e] + "/" + str(y) + ".csv")

In [18]:
import pandas as pd

url1 = "https://amo.kma.go.kr/weather/stat/stat-hourly.do?stnCd=RKNY&year="
years = list(range(2017, 2022))
url2 = "&month="
months = list(range(1, 13))
url3 = "&ele="
elements = list(range(0, 9))
elementsName = ["wind direction", "wind speed", "visiblity", "cloud", "minimum cloud height", "temperatures", "precipitation","snow cover", "new snow"]
for e in elements : 
    for y in years : 
        df = pd.DataFrame([])
        for m in months : 
            df1 = pd.read_html(url1 + str(y) + url2 + str(m) + url3 + str(e))[0]
            df1["month"] = m
            df1 = df1.rename(columns={'시간날짜' : 'day'})
            df1 = df1.reindex(columns=['month', 'day', '01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'])
            df = pd.concat([df, df1])
        df.to_csv("C:/R/weather/Yangyang/" + elementsName[e] + "/" + str(y) + ".csv")